<div id="particles">
    {{>navbar}}

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Accounting</h1>
                    <p>All</p>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="dropdown col-4">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter by day
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item active" href="http://localhost:3000/dashboard/accounting/">All</a>
                            <a class="dropdown-item" href="http://localhost:3000/dashboard/accounting/today">Today</a>
                            {{!-- <a class="dropdown-item" href="#">September 30</a>
                            <a class="dropdown-item" href="#">October 1</a>
                            <a class="dropdown-item" href="#">October 2</a>
                            <a class="dropdown-item" href="#">October 3</a> --}}
                            </div>
                        </div>

                        <button class="btn btn-warning">Sync DB</button>
                        </div>
                    
                </div>
            
            </div>
        
            <hr>
            <table class="table table-borderless">
                <thead>
                    <tr>
                    <th scope="col">Registration Type</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Honorary</td>
                    <td>{{HQ}}</td>
                    <td>{{HA}}</td>
                    </tr>
                    <tr>
                    <td>New Member Solo</td>
                    <td>{{NMSQ}}</td>
                    <td>{{NMSA}}</td>
                    </tr>
                    <tr>
                    <td>New Member Group</td>
                    <td>{{NMGQ}}</td>
                    <td>{{NMGA}}</td>
                    </tr>
                    <tr>
                    <td>Old Member Solo</td>
                    <td>{{OMSQ}}</td>
                    <td>{{OMSA}}</td>
                    </tr>
                    <tr>
                    <td>Old Member Group</td>
                    <td>{{OMGQ}}</td>
                    <td>{{OMGA}}</td>
                    </tr>
                    <tr class="table-active">
                    <th scope="row">Total</td>
                    <td>{{TQ}}</td>
                    <td>{{TA}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>